
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (max-device-height: 480px) and (orientation:portrait) {
   
}


*{
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: 121214;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid 121214;  /* creates padding around scroll thumb */
  }


body {
    
    background: #121214 url("../img/bg.svg") no-repeat ; 
    background-size: 100%;
    height: 100%;
    
}

.page-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.wrap{
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }

.button{
    font-family: 'Ubuntu', sans-serif, 'bold';
    padding: 20px 20px;
    font-size: 20px;
   
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    
}

.button :hover {
    color: #818181;
}

.home {
    text-transform: uppercase;
}

.plans {
    text-transform: uppercase;
}

.line {
    margin: 0 15px 0 15px ;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}



.logomarca {
    margin-top: 30%;
    width: 450px
}

.logomarca-sub{
    width: 160px;
    z-index: 1;
    margin-top: 60px;
}

.logomarca:hover {
    width: 460px
}


.buy_now {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Ubuntu', sans-serif, 'bold';
    font-size: 32px;
    text-transform: uppercase;
    color: white;

}

.discord {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_dc {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 278px;

    border: 1px solid #FFFFFF;
    border-radius: 20px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.discord :hover{
    color: #818181;
}


.about-sobre{

    margin-top: 20px;
    background-color: #121214;
    border-radius: 20px;

    padding: 50px;
    min-width: 300px;
    text-align: justify;

    
    max-width: 750px;
}

.about-plans{

    background-color: #121214;
    border-radius: 20px;

    padding: 50px;
    min-width: 500px;
    text-align: justify;

    
    max-width: 750px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;

    color: #FFFFFF;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;

    color: #FFFFFF;
}

p {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
}


   

.about-text-secondary {
    font-family: 'Ubuntu', sans-serif;


    font-size: 26px;
    font-weight: 500;
    text-align: justify;
    line-height: 32px;
    color: white;
  
}


.reservados {
    padding: 2%;

    font-family: 'Ubuntu', sans-serif;

    font-weight: 700;
    display: flex;
    justify-content: center;
    justify-items: center;


    align-items: center;
    color: rgb(78, 78, 78);
}

ul {
    font-family: 'Ubuntu', sans-serif, 'bold';
    color: white;

    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    font-weight: 400;
    font-size: 20px;
}

li {
  list-style-type: none;
}

.skript {
    margin-top: 2px;
    height: 24px;
    width: 24px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gosth{
    margin-left: 0;
    height: 28px;
    width: 28px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

span {
    color: #818181;
}

strong {
     font-size: 25px;
}