
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (max-device-height: 480px) and (orientation:portrait) {
   
}


*{
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: 121214;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid 121214;  /* creates padding around scroll thumb */
  }


body {
    
    background: #121214 /*url("./assets/img/gif.gif")*/ no-repeat ; 
    background-size: 100%;
    
}

.wrap{
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }

.button{
    font-family: 'Ubuntu', sans-serif, 'bold';
    padding: 20px 20px;
    font-size: 16px;
   
    

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    
}

.button :hover {
    color: #818181;
}

.home {
    text-transform: uppercase;
}

.plans {
    text-transform: uppercase;
}

.line {
    margin: 0 15px 0 15px ;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container {
margin: 00% 0% 10% 0%;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logomarca {
    margin-top: 6%;
    max-width: 250px;
}


.buy_now {
    margin-top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Ubuntu', sans-serif, 'bold';
    font-size: 32px;
    text-transform: uppercase;
    color: white;

}

.discord {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_dc {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 278px;

    border: 1px solid #FFFFFF;
    border-radius: 20px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.discord :hover{
    color: #818181;
}


.about {
    padding: 10%;
    min-width: 80%;
    text-align: justify;
}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;

    color: #FFFFFF;
}

.about-text {
    color: white;

    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}


   

.about-text-secondary {
    font-family: 'Ubuntu', sans-serif;

    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 32px;
    color: white;
  
}


.reservados {
    padding: 2%;

    font-family: 'Ubuntu', sans-serif;

    font-weight: 700;
    display: flex;
    justify-content: center;
    justify-items: center;


    align-items: center;
    color: rgb(78, 78, 78);
}